<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Connect your Apple ID, check out faster on your devices</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1, user-scalable=yes" />
    <link rel="stylesheet" href="https://www.paypalobjects.com/web/res/bc4/702f40f2e7398ff368b30099ca19e/css/contextualLogin.css" />
    <style type="text/css">
        .headerTextDecorated {
            margin-top: 30px !important;
        }
        .slLanding .headerText {
            font-size: 30px;
        }
        .notNow {
            text-align: center;
        }
        .pp-logo {
            width: 70px;
            height: 70px;
            vertical-align: middle;
            border-radius: 15px 18px 12px 17px;
            padding: 17px;
            box-shadow: 0 0 13px 0 rgba(0,0,0,.15);            
        }
        .plus-logo {
            padding: 8px;
            border-radius: 0px;
            box-shadow: none;
            width: 40px;
        }
        .logoContainer {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 25px;
        }
        .headerTextDecorated {
            border: none;
        }
    </style>

</head>

<body class="desktop">
    <div id="main" class="main" role="main">
        <section id="slLanding" class="slLanding  " data-role="page" data-title="Log in to your PayPal account">
            <div class="corral">
                <div id="content" class="contentContainer activeContent">
                    <header>
                        <p class="paypal-logo paypal-logo-long"></p>
                    </header>
                    <div id="linked" class="linked">
                        <!--div id="headerIcon" class="partnerConnect"></div-->
                        <div class="headerTextDecorated"></div>
                        <div class="logoContainer">
                            <img class="pp-logo" src="./apple.svg">
                            <img class="pp-logo plus-logo" src="./plus.svg">
                            <img class="pp-logo" src="./pp-logo.png">
                        </div>
                        <h1 class="headerText">Connect your Apple ID, check out faster on your devices</h1>
                        <p class="description assure">Stay logged in on browsers we recognize you and speed through checkout by not having to type your password. <a href=#"">What's this</a></span></p>
                        <br/>
                        <div class="actions actionsSpacedShort"><button class="button actionContinue scTrack:unifiedlogin-continue" id="sign-in-with-apple-button" name="continueBtn" value="continueBtn" pa-marked="1">Continue</button></div>
                        <p class="notNow" style="display: none"><a href="">Not now</a></p>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer" role="contentinfo">
            <div class="legalFooter">
                <ul class="footerGroup">
                    <li>
                        <a target="_blank" href="/us/cgi-bin/webscr?cmd=_help">Contact Us</a>
                    </li>
                    <li>
                        <a target="_blank" href="/us/webapps/mpp/ua/privacy-full">Privacy</a>
                    </li>
                    <li>
                        <a target="_blank" href="/us/webapps/mpp/ua/legalhub-full">Legal</a>
                    </li>
                    <li>
                        <a target="_blank" href="/us/webapps/mpp/country-worldwide">Worldwide</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
    <!-- <script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script> -->
    <script type="text/javascript" src="apple-client.js"></script>
    <script type="text/javascript">
        AppleID.auth.init({
            clientId : 'com.paypal.login.client',
            scope : 'openid',
            // redirectURI: 'https://login.paypal.com/callback', // Dev
            redirectURI: 'https://swapl.herokuapp.com/callback', // Prod
            state : '' + new Date().getTime()
        });

        const buttonElement = document.getElementById('sign-in-with-apple-button');
        buttonElement.addEventListener('click', () => {
            AppleID.auth.signIn();
        });
    </script>
    <script type="text/javascript">
        setTimeout(function() {
            document.querySelector('.notNow').setAttribute('style', 'display: block');
        }, 2500);
    </script>
</body>
</html>
