<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Log in usnig Apple ID with in iFrame</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1, user-scalable=yes" />
</head>

<body class="desktop">
        <script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
    <!-- <script type="text/javascript" src="apple-lib.js"></script> -->
    <button id="sign-in-with-apple-button">Connect with Apple Id</button>
    <!-- <script type="text/javascript">
        AppleID.auth.init({
            clientId : 'com.paypal.login.client',
            scope : 'openid',
            // redirectURI: 'https://login.paypal.com/callback', // Dev
            redirectURI: 'https://vensys.herokuapp.com/callback', // Prod
            state : '' + new Date().getTime()
        });
        const buttonElement = document.getElementById('sign-in-with-apple-button');
        buttonElement.addEventListener('click', () => {
            AppleID.auth.signIn();
        });
    </script> -->
    <a href="https://appleid.apple.com/auth/authorize?client_id=com.paypal.login.client&redirect_uri=https%3A%2F%2Fvensys.herokuapp.com%2Fcallback&response_type=code%20id_token&state=1562117659161&scope=openid&response_mode=form_post&frame_id=b4ba0b56-9213-4958-9195-933d61dd3938&m=00&v=1.1.2">Connect with Apple as like SDK</a>
    <a href="https://appleid.apple.com/auth/authorize?client_id=com.paypal.login.client&redirect_uri=https%3A%2F%2Fvensys.herokuapp.com%2Fcallback&response_type=code%20id_token&state=1562117659161&scope=openid&response_mode=form_post">Connect with Apple no SDK</a>
</body>
</html>
